<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <!-- agregamos un boton para ir para atras -->
    <!-- Le indicamos que va a estar al inicio(slot)  -->
    <ion-buttons slot="start">
      <!-- Para que se muestre el boton, debemos agregar una pagina a la cual regresar (se verá más adelante) -->
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup Call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="" alt="">
  <ion-card>
    <ion-card-content>
      <p>Addres: fake street, 111</p>
      <p>Complement: apto 222</p>
      <p>Neighborhood: fake neighborhood</p>
      <p>Zip code: 11111-111</p>
      <p>City: fake city</p>
    </ion-card-content>
  </ion-card>
  <!-- Creamos una lista con items que contendran los campos para insertar  -->
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <!-- Creamos un boton para finalizar la llamada -->
  <ion-button color="success" size="full" (click)="goHome()">Create Pickup call</ion-button>
  
</ion-content>
